:root {
    --dark-bg: #0d1117;
    --form-bg: #161b22;
    --accent-color: #00bcd4;
    --text-light: #c9d1d9;
    --text-muted: #8b949e;
    --border-color: #30363d;
    --hover-color: #0097a7;
}
body {
    background-color: var(--dark-bg);
    color: var(--text-light);
    width: 100%;
    height: 100%;
    size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;;
    background: radial-gradient(circle at top, #0a0a1a, #000000);
    color: #e0e0e0;
    line-height: 1.6;
}

.main_container {
    width: 100%;
    overflow-x: hidden;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(20, 20, 40, 0.9);
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}

.logo_wrapper img {
    border-radius: 50%;
}
.logo_wrapper:hover{
    border-radius:50% ;
    transform: scale(1.05);
    box-shadow:0 0  20px #00bfff;
}

.navigation_wrapper a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: 0.3s;
}

.navigation_wrapper a:hover {
    color: #00bfff;
    text-shadow: 0 0 5px #00bfff;
}

.Contact container{
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

.logo-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    color: var(--accent-color);
    text-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
}
.subtitle{
    text-align: center;
    color: var(--text-muted);
    margin-bottom: 20px;
    font-size: 20px;

}
.input-group {
    margin-bottom: 20px;
    
}

.input-group label{
    display: block;
    block-size: 'si'00%;
    margin-bottom: 8px; 
    background-color: var(--form-bg);

}
.input-group input,.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--form-bg);
    color: var(--text-light);
    font-size: 1rem;
}
.submit-button {
    background-color: var(--accent-color);
    color: var(--dark-bg);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.submit-button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 6px 20px rgba(0, 188, 212, 0.8);
}

.logo_wrapper img {
    border-radius: 50%;
}

.navigation_wrapper a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: 0.3s;
}

.navigation_wrapper a:hover {
    color: #00bfff;
    text-shadow: 0 0 5px #00bfff;
}