:root {
    --dark-bg: #0d1117;
    --form-bg: #161b22;
    --accent-color: #00bcd4;
    --text-light: #c9d1d9;
    --text-muted: #8b949e;
    --border-color: #30363d;
}

body {
    background-color: var(--dark-bg);
    color: var(--text-light);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    tab-size: 100%;
}
.main_container {
    width: 100%;
    overflow-x: hidden;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(20, 20, 40, 0.9);
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}

.logo_wrapper img {
    border-radius: 50%;
}
.logo_wrapper:hover{
    border-radius:50% ;
    transform: scale(1.05);
    box-shadow:0 0  20px #00bfff;
}

.navigation_wrapper a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: 0.3s;
}

.navigation_wrapper a:hover {
    color: #00bfff;
    text-shadow: 0 0 5px #00bfff;
}

.team-container {
    max-width: 900px;
    margin: auto;
}

.heading {
    text-align: center;
    color: var(--accent-color);
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(0, 188, 212, 0.7);
}

.sub-text {
    text-align: center;
    color: var(--text-muted);
    margin-bottom: 30px;
}

.team-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.dev-card {
    background-color: var(--form-bg);
    border: 1px solid var(--border-color);
    width: 260px;
    padding: 20px;
    border-radius: 12px;
    
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.dev-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 25px rgba(0, 188, 212, 0.7);
}


.avatar img {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    filter: drop-shadow(0 0 10px #00eaff);
    margin-bottom: 100px;
    background-color: #0d1117;
    padding: 50px;
}

.dev-card h2 {
    color: var(--accent-color);
    margin-top: 10px;
}

.role a {
    color: #c9d1d9;
    background-color: #0d1117;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.95rem;
    border: 1px solid #00eaff50;
    transition: 0.3s;
}

.role a:hover {
    color: #00eaff;
    border-color: #00eaff;
    box-shadow: 0 0 12px #00eaff;
}

.footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    color: var(--text-muted);
}
